:root {
    --neon: #ccff0b;
    --negro: #0a0a0a;
    --blanco: #fdfcff;
    --gris: #7f7f7f;
}

/*fuentes*/
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/*banner de nosotros*/
.banner-nosotros {
    height: 100vh;
    background-image: url('../imagenes/banner-nosotros.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}